.products-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.product-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
.product-item img {
    width: 90%;
    height: auto;
    margin-top: -25px;
}
.product-item h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: brown;
    font-weight: bold;
}
.product-item p {
    font-size: 1rem;
    color: #0804d7;
}
.add-to-cart{
    background-color: #f0f0f0;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(138, 203, 135, 0.559);
}